{% load static %}

{% block about %}
<div class="about_bg" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <p class="about_title">DETIALS ABOUT REALTIMEINC</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <p class="main_qualities">The main qualities of our courses</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-4 d-flex justify-content-around">
                <img src="{% static 'images/heart.png' %}" alt="" class="about_img">
                <img src="{% static 'images/light.png' %}" alt="" class="about_img">
                <img src="{% static 'images/mouse.png' %}" alt="" class="about_img">
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div>
                    <p class="about_creative">Creative ideas</p>
                    <p class="about_creative_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Purus euismod aliquam ut eget tincidunt cursus sed imperdiet. 
                        Accumsan vel convallis gravida mattis non ullamcorper mattis dolor sed.</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <p class="about_more_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Facilisi mi aliquam, eu, nisl nulla aenean vel mauris. 
                    Vivamus a id erat mauris duis bibendum euismod nam eu. 
                    Id massa justo, commodo amet at pretium fames cras dignissim. 
                    Lacus, urna, sed nascetur dapibus viverra massa nisl. Arcu, pellentesque ultrices imperdiet convallis nulla faucibus sapien. 
                    Enim est auctor venenatis volutpat ultrices est.</p>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}