{% load static %}
{% block carousel %}
<div class="corusel_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <p class="title_corusel">TOP COURSES</p>
            </div>
        </div>
    </div>
    <div class="container">
        
    
        <div class="multiple-items">
                <div class="element_corusel">
                    <div class="element_of_corusel">
                        <div class="element_corusel_photo">
                            <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                        </div>
                        <div class="element_corusel_desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="element_corusel_button">
                            <a href="">
                                <div class="element_corusel_button_button">
                                    <p>Read More</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                    <div class="element_corusel">
                        <div class="element_of_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="element_corusel">
                        <div class="element_of_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="element_corusel">
                        <div class="element_of_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
        
    <div class="carusel_bottom">

    </div>
    
</div>

    
</div>
{% endblock %}