{% load static %}
{% block carousel %}
<div class="corusel_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <p class="title_corusel">TOP COURSES</p>
            </div>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="element_corusel">
                            <div class="element_corusel_photo">
                                <img src="{% static 'images/course_ing.png' %}" alt="" class="element_corusel_photo_photo">
                            </div>
                            <div class="element_corusel_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="element_corusel_button">
                                <a href="">
                                    <div class="element_corusel_button_button">
                                        <p>Read More</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a><div class="carusel_bottom"></div>
    </div>
    
</div>

    
</div>
{% endblock %}