{% load static %}

{% block find %}
<div class="find_course_bg">
    {% include "include/menu.html"%}
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <p class="find_course_title">Find your course now</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="search"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}