{% load static %}

{% block main %}
<div class="main_bg">
    {% include "include/menu.html"%}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="main_title">Lorem ipsum dolor sit amet</p>
                <p class="main_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Mauris pulvinar molestie in adipiscing purus congue egestas iaculis nisi. 
                    Habitasse tempor aliquam mattis volutpat gravida eget nisi, sit.</p>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="">
                    <img src="{% static 'images/arrow.png' %}" alt="" class="main_arrow">
                </a>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}