
body, p, a, h1{
    text-decoration: none;
    margin: 0;
    margin-bottom: 0em;
    padding: 0; 
}
a:hover{
    text-decoration: none;
}
/* main */
.main_bg{
    background-image: url("/static/images/main_bg.png");
    background-size: cover;
    background-position: center;
}
.margin_logo_main{
    margin-top: 15px;
}
.main_menu_item{
    margin-top: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;

    color: #232323;
}
.main_title{
    margin-top: 350px;
    margin-left: 50px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;

    color: #232323;
}
.main_desc{
    margin-top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #494949;
}
.main_arrow{
    margin-top: 140px;
    margin-bottom: 20px;
}
/* end main */

/* bonus */
.bonus_title{
    margin-left: 50px;
    margin-top: 170px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #BAA9A0;

    margin-bottom: 35px;
}
.bonus_body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #8D7D73;
}
.bonus_he{
    height: 700px;
    background-color: #232323;
}
.bonus_button{
    margin-top: 35px;
    margin-left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;

    border-radius: 100px;
    border: #BAA9A0 solid 2px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #BAA9A0;
    
    margin-bottom: 170px;
}
.bonus_macbook{
    height: 350px;
    margin-bottom: 100px;
    margin-top: 100px;
}
/* end bonus */

/* about */
.about_bg{
    height: 800px;
    background-image: url("/static/images/bd_about.png");
    background-size: cover;
    background-position: center;
}
.about_title{
    margin-top: 120px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.08em;

    color: #232323;
}
.main_qualities{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;

    color: #494949;

    margin-bottom: 50px;
}
.about_img{
    height: 75px;
}
.about_more_desc{
    margin-top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #232323;
}
.about_creative{
    margin-left: 50px;
    margin-top: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #232323;
}
.about_creative_desc{
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
/* end about */

/* corusel */
.corusel_bg{
    background-color: #232323;
    
}
.title_corusel{
    margin-top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.08em;

    color: #BAA9A0;
    margin-bottom: 60px;
}
.element_corusel{
    height: 500px;
    width: 350px;
    background-color: #E1E1E1;
    margin-top: 20px;
    
}
.carusel_bottom{
    height: 80px;
}

.element_corusel_photo{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element_corusel_photo_photo{
    width: 290px;
    height: 290px;
}
.element_corusel_desc{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #8D7D73;
}
.element_corusel_button{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element_corusel_button_button{
    height: 50px;
    width: 200px;

    
    border: 2px solid #7F6759;
    color: #7F6759;

    display: flex;
    justify-content: center;
    align-items: center;

}
/* end corusel */

/* contact us */
.contactUs{
    height: 350px;
    background-image: url("/static/images/bg_contactUs.png");
    background-size: cover;
    background-position: center;
}
.already_loved{
    margin-top: 75px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #232323;

    margin-bottom: 45px;
}
.button_contactUs{
    margin-top: 10px;
    width: 300px;
    height: 60px;
    border-radius: 100px;
    border: #232323 solid 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #232323;
    transition: 0.2s;
}
.button_contactUs:hover{
    border: #7F6759 solid 2px;
    color: #7F6759;
}


/* end contact us */

/* footer */
.name_company{
    font-family: Roboto;
    font-size: 24px;
    color: #E1E1E1 !important;
    margin-left: 10px;
}
.dark_bg{
    background-color: #232323;
}
.all_Logo{
    margin-top: 80px;
    margin-bottom: 30px;
}
.logo{
    height: 60px;
    width: 60px;
}
.bottom_menu{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #E1E1E1 !important;
}
.subscribe{
    margin-left:20px ;
    margin-top: 80px;
    font-family: Roboto;

    font-size: 30px;
    line-height: 42px;

    color: #E1E1E1;

    margin-bottom: 30px;
}
.input_email{
    background-color: #232323;
    border-bottom: #BAA9A0 solid;
    width: 450px;
    margin-left: 10px;
    color: #BAA9A0;
    font-size: 24px;
}
input::placeholder{
    color: #BAA9A0;
    font-size: 24px;

}
.button{
    height: 50px;
    width: 230px;
    border-radius: 100px;
    border: #BAA9A0 solid;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #BAA9A0;
    font-size: 35px;

    margin-left: 10px;
}
.form{
    margin-bottom: 80px;
}
.icons{
    margin-bottom: 80px;
}
.icon_media{
    height: 45px;
    width: 45px;
}
/* end footer */

/* fing course */
.find_course_bg{
    background-image: url("/static/images/bg_find_course.png");
    background-size: cover;
    background-position: center;
}
.find_course_title{
    margin-top: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.08em;

    color: #232323;
    margin-bottom: 30px;
}
.search{
    height: 80px;
    width: 650px;

    border-radius: 100px;
    background-color: #7F6759;

    margin-bottom: 250px;
}
/* enf fing course */

/* all courses */
.all_courses_bd{
    background-image: url("/static/images/all_courses_bg.png");
    background-size: cover;
    background-position: center;
}
.all_courses_title{
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.08em;

    color: #232323;

    margin-bottom: 50px;
}
.element_all_photo{
    width: 350px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.element_all_photo_photo{
    width: 290px;
    height: 290px;
}
.all_element_title{
    margin-top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #232323;
}
.all_element_desc{
    margin-top: 10px;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #9A9A9E;

    margin-bottom: 20px;
}
.like{
    height: 30px;
}
.count_like{
    margin-left: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #9A9A9E;
}
.cost_course{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #699F75;
}
/* end all courses */